<h3>Here is a list of all articles in the database:</h3>

{{#each article}}
        <li class="articlelist"><a href="/articles/{{this.id}}">{{this.name}}</a></li>
{{/each}}

<p><a href="articles/add">Add an article</a></p>