<div class="search-area">
    <input id="search-input" type=text placeholder="Search">
    <div id="suggestions">
    </div>
</div>

<h3>Here is a list of all articles in the database:</h3> {{#if article}} {{#each article}}
<li class="article-list"><a href="/articles/{{this.id}}">{{this.name}}</a></li>
{{/each}} {{else}}
<p>No articles in the database!</p>
{{/if}}
<br>
<p class="small-information-text"><a href="articles/add">Add an article</a></p>

<script src="/js/helper.js"></script>
