<h3>Add an article</h3>
<form method='POST'>
  <label>Title</label><input type='text' name='name' placeholder='What is the article about?' required>
  <br>
  <label>Content</label><textarea name="article" placeholder='Write the article here!' value="" required></textarea>
  <br>
  <input type='submit'>
</form>
<p class='error'>{{errorMessage}}</p>