<p>Welcome. Here you can find and edit a collection of articles.</p>

<br>
<p class="small-information-text"><a href="articles">See all articles</a></p>
<p class="small-information-text"><a href="articles/add">Add an article</a></p>