* {
	font-family: Helvetica, sans-serif;
	font-weight: 100;
}
body {
	margin: 0 auto;
	max-width: 800px;
}
main {
	padding: 1em;
	
	margin: ;
}
a {
	text-decoration: none;
}
p{
	margin: 0;
}
header {
	background-color: #efefef;
	position: relative;
}
header h1 {
	margin: 0;
	padding: 1em;
}
.loginout {
	position: absolute;
	right: 10px;
	top: 10px;
}

form {
	display: inline-block;
	background: lightblue;
	width:100%;
	margin: 0 auto;
	padding-top: 1em;
}
form label {
    float: left;
    clear: left;
    width: 20%;
	font-size:1em;
}
form input {
    float: left;
	padding: 1em;
	margin-bottom: 1em;
	width: 300px;
}
form input[type=submit]{
	width:80px;
	padding: 10px 15px; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

form #remember {
	font-size: 0.8em;
}
textarea {
	width: 50%;
	height: 400px;

}

.error {
	color: red;
	float: left;
}
.small-information-text{
	font-size: 0.8em;
}
.article-content{
	margin-top: 1em;
	max-width: 600px;
	padding: 1em;
	line-height: 1.2em;
	border: 1px solid lightblue;
}